.modal {

    position: absolute;
    left: 5%;
    top: 0;
    width: 90%;
    background: $modal-background;
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 0px 0px 11px 4px black;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
    font-family: 'Junction';

    p {

        padding: 4px 0;
        margin: 4px 0;

        &.error {
            color: red;
        }
    }

    input {
        width: 98%;
        margin-bottom: 12px;
    }

    button {

        &:nth-child(1) {

        }
        &:nth-child(2) {
            float: right;
        }
    }
}

.modal-top-down {

    @extend .modal;

    &.modal-top-down-enter {
      top: -100%;
  }

  &.modal-top-down-enter.modal-top-down-enter-active {
      top: 0;
      transition: top 200ms ease-out;
  }

  &.modal-top-down-leave {
      top: 0;
  }

  &.modal-top-down-leave.modal-top-down-leave-active {
      top: -100%;
      transition: top 200ms ease-out;
  }
}

.modal-fade {

    @extend .modal;

    &.modal-fade-enter {
      opacity: -100%;
  }

  &.modal-fade-enter.modal-fade-enter-active {
      opacity: 5%;
      transition: opacity 200ms ease-out;
  }

  &.modal-fade-leave {
      opacity: 5%;
  }

  &.modal-fade-leave.modal-fade-leave-active {
      opacity: -100%;
      transition: opacity 200ms ease-out;
  }
}