.modal {
  height: auto;
}

.modal-top-down {

    @extend .modal;

    &.modal-top-down-enter {
      top: -100%;
    }

  &.modal-top-down-enter.modal-top-down-enter-active {
      top: 0;
      transition: top 200ms ease-out;
  }

  &.modal-top-down-leave {
      top: 0;
  }

  &.modal-top-down-leave.modal-top-down-leave-active {
      top: -100%;
      transition: top 200ms ease-out;
  }
}

.modal-fade {

    @extend .modal;

    &.modal-fade-enter {
      opacity: -100%;
  }

  &.modal-fade-enter.modal-fade-enter-active {
      opacity: 5%;
      transition: opacity 200ms ease-out;
  }

  &.modal-fade-leave {
      opacity: 5%;
  }

  &.modal-fade-leave.modal-fade-leave-active {
      opacity: -100%;
      transition: opacity 200ms ease-out;
  }
}