// the ~ symbol is needed to node-sass
$fa-font-path: "~../../node_modules/font-awesome/fonts";
@import "~../../node_modules/font-awesome/scss/font-awesome.scss";

@import 'fonts';
@import 'colours';
@import 'modal';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
	outline: none;
}
